{% extends 'work/index.html' %}

{% block title %}Помощь{% endblock %}

{% block help %}
<div class="section text-center">
  <div style="color:white;" class="container">
    <h2>В нашей системе представлены такие кнопки как:</h2>
    <ul>
      <p>Главная, которая возвращается на главную страницы программы</p>
      <p>Вывод всех документов и часть содержмиого</p>
      <p>Загрузка файла</p>
      <p>Помощь</p>
      <p>Метрика</p>
    </ul>

    <h2>Рекомендации по использованию</h2>
    <ul>
      <p>При нажатии на кнопку "Вывода всех файлов".Мы можем увидеть выбранные файлы. Классификацию по выбранным предметным областям. Кнопка удалить. Можем скачать файл и удалить</p>
      <p>При нажатии на кнопку "Помощь. Высвечивается страница с подсказкой для пользователя"</p>
      <p>При нажатии на загрузка файла. Высвечивается окно для выбора файла с расширением txt</p>
      <p>При нажатии Метрика. У нас высвечивается график метрика</p>
      <p>Помощь</p>
    </ul>
  </div>
</div>
{% endblock %}
